.bleu{
    width: fit-content;
    height: fit-content;
    background-color: rgb(60, 60, 148);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rouge{
    width: fit-content;
    height: fit-content;
    background-color: rgb(148, 70, 60);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}